<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-icon style="font-size:35px ; margin-right: 10px;" name="arrow-back-outline"
        [routerLink]="['/tabs/playlist']">
      </ion-icon>

      <ion-text>
        <h2><strong>Add Playlist</strong> </h2>
      </ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Playlist Title</ion-label>
      <ion-input required [(ngModel)]="title" placeholder="Masukkan Nama Playlist" type="text"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Detail</ion-label>
      <ion-input required [(ngModel)]="detail" placeholder="Masukkan Detail" type="text"> </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addPlaylist()" color="success" shape="circles" expand="block">Add Playlist
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>